html, body {
	height: 100%;
	color: white;
    font-family: 'Calibri';
}

body {
	background: #3434d0;
	display: grid;
	place-items: center;
}

svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1; 
}

.output-image-container {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border: 1px solid #ccc;
}

.output-image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#fileInput {
	display: none;
}

/* Contenedor Croppie */
.croppie-container {
  position: relative;
  padding-bottom: 40px; /* espacio para el slider */
}

/* Slider de zoom */
.cr-slider {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translateX(-50%);
  width: 80% !important;
  height: 6px;
  appearance: none;
  background: linear-gradient(to right, #3b82f6, #06b6d4);
  border-radius: 999px;
  outline: none;
}

/* Thumb */
.cr-slider::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  border: 3px solid #3b82f6;
  cursor: pointer;
}

.cr-slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  border: 3px solid #3b82f6;
  cursor: pointer;
}

.custom-file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	background-color: #4f4c4c;
	color: white;
	font-size: 16px;
	font-weight: bold;
	border-radius: 4px;
}

.custom-file-upload:hover {
	background-color: #292626;
}

#cropButton {
	display: none;
}

